@import "@fontsource/inter";
@import "tailwindcss" prefix(tw);

:root {
  --font-sans: "Inter";
  --primary-color: #0061FF;
  --secondary-color: #FF7700;  
  --teritiary-color: #1E3A8A;
  --gray-color: #F9FAFB;
}

body {
  color: var(--primary-color);
  font-family: var(--font-sans);
}

.maplibregl-map{
  font: inherit !important; 
}

h1{
    font-size: 26px;
}

h4{
  font-size: 18px;
}

button{
  cursor: pointer;
  outline: none;
}

@keyframes fade-in {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

 @media (max-width: 600px) {
    .maplibregl-popup-content {
        max-width: 100%; 
        padding: 5px;
    }
}

.vtd-datepicker {
  background-color: #F9FAFB;
} 

@media (min-width: 1024px) {
  #headlessui-popover-panel-v-2 > div.absolute {
      top: 4px;
      right: auto;
      left: 0;
      transform: translateX(-50%);
  }
}
